.dropdown-content {
  display: none;
  position: absolute;
  right: 30px;
  background-color: #9D6BE6;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  border-radius: 20px;
}

.show {
  display: block;
}

.nav {
  width: 100%;
  height: 65px;
  padding: 10px;
  position: fixed;
  background-color: #a370f0;
  margin-top: -8px;
  margin-left: -8px;
  backdrop-filter: blur(10px);
  line-height: 65px;
  text-align: center;
  z-index: 3;
}

.nav.scrolled {
  background-color: black;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  padding: 5px;
}

.nav div.logo a:hover {
  color: #00E676;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
  color: #00E676;
}

.bn {
  --border-radius: 25px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  background-color: #212121;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffff;
  z-index: 2;
}

.bn::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  background-image: conic-gradient(#ff0080,
      #ff0080,
      #ff0080,
      #ff0080,
      #ff0080,
      #ff0080,
      #ff0080);
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue634 linear 500ms infinite;
  animation-play-state: paused;
  border-radius: 20px;
}

.bn:hover::after {
  animation-play-state: running;
  border-radius: 10px;
}

@keyframes rotate-hue634 {
  to {
    filter: hue-rotate(1turn);
  }
}

.bn,
.bn::after {
  box-sizing: border-box;
  border-radius: 20px;
}

.bn:active {
  --border-width: 5px;
}

.bn {
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: #FFF;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 32px;
}

.bn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.bn::before {
  content: "";
  background: linear-gradient(45deg,
      #07d888, #e40851, #2f00ff, #00ff37,
      #ec0808, #2600ff, #0bd157, #2f00ff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing345 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 20px;
  opacity: 0;
}

@keyframes glowing345 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.bn:hover::before {
  opacity: 1;
}

.bn:active:after {
  background: transparent;
}

.bn:active {
  color: #000;
  font-weight: bold;
}


/* ********************************************************************************************** */

.hack-packet {
  height: calc(100% - 100px);
  width: 99%;
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  z-index: 2;
}

.posts-container {
  height: 600px;
  width: 800px;
  background-color: #a370f0;
  border-radius: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

.gchat-container {
  height: 600px;
  width: 650px;
  background-color: #a370f0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

.post-type-container {
  height: 30px;
  width: 91%;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

.posts-holder {
  height: 550px;
  width: 95%;
  background-color: #a370f0;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  overflow-y: hidden;
  overflow-y: scroll;
}

.posts-holder::-webkit-scrollbar {
  display: none;
}

.post {
  min-height: 200px;
  height: 150px;
  width: 95%;
  background-color: #a370f0;
  box-shadow: 5px 5px 10px #212121;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon {
  height: 80%;
  width: 20%;
  border-radius: 20px;
}

.msg-holder {
  height: 80%;
  width: 75%;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
}

.team-details {
  width: 90%;
  height: 40%;
  display: flex;
  padding-inline: 20px;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.team-name {
  font-size: 30px;
  font-weight: bold;
}

.msg-discription {
  align-items: flex-start;
  padding: 20px;
}

/* 888888888888888888888888888888888888888888888888888888888 */

.button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #cfef00;
  color: #000;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.button:hover {
  background: #c4e201;
}

.button>svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.button:hover svg {
  transform: translateX(5px);
}

.button:active {
  transform: scale(0.95);
}

/* 6666666666666666666666666666666666666666666666666666666666666666666666666666666666666 */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  width: 80%;
  height: 80%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.close-button {
  margin-top: 10px;
  cursor: pointer;
}

.popup-top {
  height: 150px;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}

.image-card {
  width: 200px;
}

.popup-name {
  width: 80%;
  font-size: 30;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.like-button {
  height: 50px;
}

.popup-bottom {
  height: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  border-radius: 20px;
  align-content: space-around;
  justify-content: space-around;
}

.popup-desc {
  background-color: #a370f0;
  height: 80%;
  width: 80%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border-radius: 20px;
  justify-content: space-between;
  align-content: space-between;
}

.chat-holder {
  height: 550px;
  width: 95%;
  background-color: #a370f0;
  display: flex;
  border-radius: 20px;
  flex-direction: column-reverse;
  align-content: space-around;
  align-items: center;
  overflow-y: hidden;
  overflow-y: scroll;
}

.chat-holder::-webkit-scrollbar {
  display: none;
}

.chat {
  min-height: 90px;
  max-height: 100px;
  width: 95%;
  padding-inline: 10px;
  background-color: aliceblue;
  border-style: solid;
  border-color: #9D6BE6;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #212121;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}

.chat-icon {
  height: 70%;
  width: 10%;
  border-radius: 50%;
}

.chat-holder {
  height: 55%;
  width: 90%;
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  padding-inline: 20px;
  border-radius: 20px;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
}

.chat-details {
  width: 90%;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  padding-inline: 20px;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.chat-discription {
  align-items: flex-start;
}

.timer-holder {
  min-height: 40px;
  width: 95%;
  background-color: aliceblue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px #212121;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}